.main-header {
    position: relative;
    background: transparent;
    z-index: 5;
    margin-bottom: 80px;
}

.header-bg__img {
    background-image: url(../assets/images/about-page/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

.main {
    position: relative;
    z-index: 5;
}

/* breadcrumbs */
.breadcrumbs-wrapper {
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
}

.breadcrumbs-link__main {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}

.breadcrumbs-link__current {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #9A9CA5;
}

.breadcrumbs-link__current:hover {
    cursor: default;
}

.about-numbers__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.separate-number__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 240px;
}

.separate-number__card img {
    max-width: 48px;
    width: 100%;
    margin: 0 auto 20px;
}

.accent {
    margin-bottom: 8px;
}

.about-accent {
    font-size: 46px;
}

.separate-number__card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-title-color);
}

/* COMMENT */

.comment {
    display: flex;
    margin-bottom: 200px;
}

.comment-img__wrapper {
    padding: 120px 0 0;

}

.comment-person__img {
    max-width: 525px;
}

.comment-text__wrapper {
    margin-left: -30px;
    background-color: #FFFFFF;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    padding: 80px 105px 70px 135px;
    height: fit-content;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--main-title-color);
    position: relative;
}

.comment-text__wrapper::before {
    content: url(../assets/images/about-page/braces.svg);
    position: absolute;
    top: 80px;
    left: 77px;
    max-width: 28px;
    width: 100%;
    height: 20px;
}

.comment-text {
    margin-bottom: 30px;
}

.comment-text:nth-child(2) {
    margin-bottom: 60px;
}

.comment-description__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.comment-text__description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comment-person__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;

    color: var(--main-title-color);
}

.comment-person__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

/* VALUES */
.values-history__wrapper {
    background-color: #F4F5F7;
    padding: 80px 0;
    margin: 0 0 140px;
}

.section-history-title__wrapper h2 {
    text-align: left;
}

.history-way__list {
    list-style-type: circle;
    list-style-position: inside;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #9A9CA5;
}

.history-link__active {
    color: #FF5A30;
}

/* color: var(--main-orange-color); */

.history-way__list li {
    list-style-type: disc;
    list-style-image: url(../assets/images/about-page/history-slide-dot.svg);
    cursor: pointer;
    position: relative;

    margin-bottom: 20px;
}

.history-way__list li:last-child {
    margin-bottom: 0;
}

.way-line {
    position: absolute;
    top: -10px;
    left: -12.5px;
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #787A80;

    opacity: 0.5;
    border-radius: 5px;
    border: 1px solid #9A9CA5;
    transform: rotate(90deg);
}

.way-line__last {
    position: absolute;
    top: 0;
    left: -2.5px;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #787A80;

    opacity: 0.5;
    border-radius: 5px;
    border: 1px solid #9A9CA5;
    transform: rotate(90deg);
}

.way-line__last:last-child {
    top: 40px;
}

.history-way__list li::marker {
    /* list-style-type: disc;
    font-size: 32px;
    color: #9A9CA5; */
    list-style-image: url(../assets/images/about-page/history-slide-dot.svg);
}

.history-content__wrapper {
    display: flex;
    justify-content: space-between;
}

.history-content__slide {
    max-width: 810px;
    width: 100%;
}

.slide-img {
    margin-bottom: 36px;
}

.slide-img__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: #424551;
}


/* slider */

/* partners */
.sunset-card {
    filter: grayscale(1);
}

.partners {
    margin-bottom: 180px;
}

.partners-images__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 40px;
}

.partner-card {
    display: flex;
    justify-content: center;
    transition: all 2s lienar;
}

.partner-card:hover {
    display: flex;
    justify-content: center;
    filter: grayscale(0);
}

.partner-card {
    display: flex;
    justify-content: center;
    transition: all .3s linear;
}

.partner-card a {
    transition: all .3s linear;
}

.partner-card a:hover {
    transform: scale(1.2);

}


/* TEAM */

.team-cards__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px;

    margin-bottom: 80px;
}

.team-card {
    text-align: center;
}

.team-worker-name__wrapper {
    margin-bottom: 4px;
}

.worker-name {
    font-size: 20px;
    color: var(--main-title-color);
    font-weight: 700;
    line-height: 150%;
}

.worker-position {
    font-size: 16px;
    color: #787A80;
    line-height: 160%;
}

.team-worker-img__wrapper {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    overflow: hidden;
}

.worker-image {
    width: 285px;
    height: 340px;
}

.social__wrapper {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #FF5A30;
    border-radius: 0px 0px 4px 4px;
    opacity: 0.7;

    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    transform: translateY(100px);

    transition: all .2s linear;
}

.team-worker-img__wrapper:hover .social__wrapper {
    transform: translateY(0);
}

.team-position__link {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.position__link-text {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--main-title-color);
}

.available-positions {
    color: var(--main-orange-color);
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    text-decoration-line: underline;
}


/* map */

.map-worldwide {
    margin-bottom: 220px;
}

.map-img__wrapper {
    position: relative;
}

.map-country {
    position: absolute;
    top: 0;
    left: 0;

    transition: all .3s linear;
   
}

.map-country:hover {
    transform: scale(1.1);
    /* animation: countriesActive infinite 1s alternate-reverse; */
}

/* @keyframes countriesActive {
    form {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
} */

.map-country__canada {
    top: 23%;
    left: 13%;
    
}

.map-country__usa {
    top: 36%;
    left: 16%;
}

.map-country__germany {
    top: 24%;
    left: 48%;
}

.map-country__ukraine {
    top: 30%;
    left: 52%;
}

.map-country__china {
    top: 41%;
    left: 72%;
}

.map-country__australia {
    top: 74%;
    left: 80%;
}

.header-fixed {
    background-color: white;
    background-image: none;
    box-shadow: 4px 16px 8px 0px rgba(34, 60, 80, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}