body {
    position: relative;
}

.modal-form__wrapper {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

}

.subscribe-form__modal {
    border-radius: 4px;
    border: 1px solid #E5E8ED;
    background: #FFF;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);

    max-width: 486px;
    width: 100%;

    padding: 48px;
    position: fixed;
    top: calc(50vh - 208px);
    left: calc(50% - 243px);
    z-index: 6;
    opacity: 1;
}



.main-header {
    position: relative;
    background: transparent;
    z-index: 5;
    margin-bottom: 80px;
}

.header-bg__img {
    background-image: url(../assets/images/background-available.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

.main {
    position: relative;
    z-index: 5;
}






/* .modal-form__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    z-index: 6;
    opacity: 0.75;
    background-color: #1E212C;
} */

.subscribe-form__modal {
    display: none;
}

.close-icon__button {
    position: absolute;
    top: 28px;
    right: 28px;
    background-color: transparent;
    border: none;
    display: flex;
    margin-left: auto;
}

.modal-title__wrapper {
    margin-bottom: 24px;
}

.modal-title__wrapper h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    color: var(--main-title-color);
    text-align: center;
}

.modal-input {
    border-radius: 4px;
    border: 1px solid #D7DADD;
    background-color: #F4F5F6;
    padding: 11px 0 12px 16px;
}

.modal-btn {
    width: 100%;
}

.modal-input:focus-visible {
    outline: none;
}

.inputs__wrapper {
    margin-bottom: 40px;

}

.modal-btn {
    padding: 14px 0;
    color: #FFFFFF;
}

.available-content {
    display: flex;
}

.available-content {
    margin-bottom: 180px;
}

.item-data__info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.positions-items__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.positions-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 32px 40px;
    border-radius: 4px;
    border: 1px solid #E5E8ED;
    background: #FFF;
    min-width: 705px;
    width: 100%;
}

.item-data {
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.item-data__city {
    display: flex;
}

.item-data__img {
    margin-right: 8px;
}

.item-data__time {
    display: flex;
    gap: 8px;
}

.item-data-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: var(--main-title-color);
}


.item-apply-btn {
    padding: 0 32px;
    color: var(--main-orange-color);
    text-align: center;
    font-size: 14px;

    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    background-color: transparent;
    border: 1px solid var(--main-orange-color);
    border-radius: 4px;

    transition: all .3s linear;
}

.item-apply-btn:hover {
    background-color: var(--main-orange-color);
    color: #FFFFFF;
}

.positions-form__content {
    margin-left: auto;
}


.positions-item span {
    border: 1px solid #787A80;
    transform: rotate(90deg);
    width: 12px;
    height: 1px;
    margin: 0 12px;
}


.section-title__wrapper {
    margin-bottom: 24px;
}

.section-title-wrapper__section {
    margin-bottom: 60px;
}

.section-title__wrapper h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    text-align: start;
}

.positions-form__description {
    color: #424551;

    font-size: 18px;
    text-align: start;
    margin-bottom: 18px;
    font-weight: 400;
    line-height: 150%;
}

.positions-form-buttons__wrapper {
    display: flex;
}

.item-apply-btn__subscribe {
    max-width: 180px;
    width: 100%;
    margin-right: 30px;
}

.item-apply-btn__send {
    max-width: 180px;
    width: 100%;
}

.values {
    margin-bottom: 220px;
}


.send-form__modal {
    display: none;
    top: calc(50vh - 400px);
    left: calc(50% - 243px);
 
}

.contacts-form-input__interested {
    position: relative;
    z-index: 5;
}

.interested-wrpaper {
    position: relative;
    /* overflow: hidden; */
}

.select-arrow {
    position: absolute;
    top: 65%;
    right: 7%;
    z-index: 5;
    display: inline-block;
    width: 10px;
    height: 10px;

    transition: all .3s linear;

}

.interested-select {
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #FFFFFF;

    display: none;
}

.interested-select li {
    background: #F4F5F7;
    border: 1px solid #D7DADD;
    padding: 13px 0 13px 16px;
    border-radius: 4px;

    margin-bottom: 10px;
    transform: all .3s linear;
}

.interested-select li:hover {
    color: var(--main-orange-color);
}

.input-title {
    margin-bottom: 8px;
}

.contacts-form-input {
    background: #F4F5F7;
    resize: none;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: var(--main-title-color);
    line-height: 150%;
    padding: 13px 0 13px 16px;

    min-width: 285px;
    width: 100%;
}

.contacts-form-input:focus-visible {
    outline: none;
}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.input__file-button-text {
    cursor: pointer;
    color: #424551;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.input__file-button {
    cursor: pointer;
    gap: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}